.last-projects {
  display: none;
}

@media screen and (min-width: 1025px) {
  .last-projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    left: 50%;
    margin: 30vh 0 30vh 0;
  }

  .last-project-container {
    max-width: 440px;
  }

  .project-container {
    text-decoration: none;
    color: #334455;
  }

  .last-project-headline {
    display: inline-block;
    font-size: 34px;
    margin: 0 0 50px 0;
  }

  .projects-list {
    margin: 0;
    padding: 0;
  }

  .project-element {
    list-style: none;
    display: block;
    cursor: pointer;
    margin-bottom: 40px;
    transition: transform .3s ease-out;
  }

  .project-element:hover {
    transform: translateX(10px);
  }

  .project-title {
    display: inline-block;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 24px;

  }

  /* .project-title:hover {
    box-shadow: inset 0 -1px 0 0 #334455;
  } */

  .project-description {
    display: block;
    line-height: 1.5;
  }

}
